<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>教师列表</h1>
    <table>
        <tr>
            <td><a href="/tec/insert"> 添加 </a></td>
            <td></td>
        </tr>
        <tr>
            <td>id</td>
            <td>教师名称</td>
            <td>授课项目</td>
            <td>年龄</td>
            <td>性别</td>
            <td>入职时间</td>
            <td>操作</td>
        </tr>
        <tr th:each="tea : ${teas}">
            <td th:text="${tea.id}">id</td>
            <td th:text="${tea.tname}">教师名称</td>
            <td th:text="${tea.subjects}">授课项目</td>
            <td th:text="${tea.age}">年龄</td>
            <td th:text="${tea.sex}">性别</td>
            <td th:text="${tea.modifcationtime}">入职时间</td>
           <td><a th:href="|/tec/update?id=${tea.id}|">修改</a><a th:href="|/tec/delete?id=${tea.id}|">删除</a></td>
        </tr>
    </table>

</body>
</html>